<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tps</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TexturePackerDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>TexturePacker Sheet (.tps)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>

		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pvr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TexturePacker.icns</string>
			<key>CFBundleTypeName</key>
			<string>PVR image (.pvr)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>

		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ccz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TexturePacker.icns</string>
			<key>CFBundleTypeName</key>
			<string>Cocos2d Compressed Data(.ccz)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>

	</array>

	<key>CFBundleIconFile</key>
	<string>TexturePacker.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
        <string>TexturePackerGUILauncher</string>
	<key>CFBundleIdentifier</key>
	<string>de.code-and-web.TexturePacker</string>
	<key>CFBundleVersion</key>
	<string>4.4.0</string>
	<key>CFBundleShortVersionString</key>
	<string>4.4.0</string>
	<key>NSHumanReadableCopyright</key>
        <string></string>
        <key>CFBundleName</key>
        <string>TexturePacker</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSContactsUsageDescription</key>
        <string>Your mail address will be used to populate the email field in the crash / feedback reporter.</string>
</dict>
</plist>
